<div layout="column" flex layout-align="space-around center" layout-padding>


<md-whiteframe class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25">


        <div layout="column" layout-align="space-around start" layout-padding>
                <img ng-src="/static/img/flaplogo.png" width="180" height="80"/>
               <span>404. That’s an error.</span>
                <p>The requested URL  was not found on this server. That’s all we know.</p>
        </div>



</md-whiteframe>

</div>