<div>
    <md-content layout-xs="column" layout-wrap layout="row"  layout-align="start start">
<metric title="ViewRate" id="id_sumviewrate" name ="viewRate"></metric>
<metric title="ActionRate" id="id_sumactionrate" name ="actionRate"></metric>
        <metric title="EngagementRate" id="id_sumengrate" name ="engRate"></metric>
        <metric title="FillRate" id="id_sumfillrate" name ="fillRate"></metric>
<metric title="ServingEfficiency" id="id_sumsef" name ="sef"></metric>


<metric title="Impressions" id="id_sumimpressions" name ="impressions"></metric>
<metric title="Requests" id="id_sumrequests" name ="requests"></metric>
        <metric title="Views" id="id_sumviews" name ="views"></metric>

    </md-content>
</div>




